center()
	display flex
	justify-content center
	align-items center

body
	padding 0
	margin 0
	overflow hidden
	center()

h1
	font-family Chillax, sans-serif
	text-align center

p, button
	font-family General Sans
	color black
	transition color 0.5s
	&:hover
		color white

button
	border 1px solid black
	background white
	transition background 0.5s
	&:focus
		outline none
	&:hover
		background grey


